@media (max-width: 800px) {
    #page-home {
        background-position-x: 90vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
        flex-direction: column;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .memory-card {
        height: 10vh;
    

}

@media (min-width: 1440px){
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px){
    #page-home {
        background-position-y: 120px;
    }
}