@media (max-width: 800px) {
    #page-home {
        background-position-x: 90vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        grid-template-columns: 1fr;
    }

    main .aside1{
        display: none;
    }

    main .cards {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        align-content: stretch;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-right: 10px;
    }

    .memory-card {
        height: 130px;
        width: 100%;
    }
    