* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 1fr;
    margin-top: 35px;
    background-color: teal;
    perspective: 1500px;   
    border-radius: 10px;   
}

main .cards {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2%;
    gap: 24px;   
            
}

main .aside1 {    
    background-color: #f5f5f5;
    border-radius: 8px;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;
    margin: 15px;
    margin-right: 0;
}

main .aside1 h3{
    margin-top: 10px;
}

main .aside1 h4{
    color: black;
    text-align: left;
}

main .aside1 .hide{
    display: none;
    transition: transform .5s;
}

main .aside2 {
    grid-row-start: 2;

    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin: 15px;
    margin-right: 0;
    border-radius: 10px;
}


main .aside2 .action{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    margin-right: 15px;
    padding: 20px;
    justify-content: space-between;
}

main .aside2 button {
    width: 100%;
    height: 60px;


    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;

    border: 0;
    margin-bottom: 20px;
    transition: background-color 400ms;
}

main .aside2 button:disabled{
    background-color: var(--title-color);
    color: rgb(62, 68, 61);
    transition: background-color 400ms;
}

.memory-card {
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0,.3);
    transform: scale(1);
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 20px;
    background-color: white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
  }

.memory-card:active{
    transform: scale(0.95);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }


  