* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    
}
main {
    display: flex;
    margin-top: 35px;
    background-color: teal;
    perspective: 1000px;      
}

main .aside{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin: 5px;
    max-width: ;
}

main .aside button {
    width: 100%;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top: 40px;

    transition: background-color 400ms;
}

main .aside button:disabled{
    background-color: var(--title-color);
    color: rgb(62, 68, 61);
    transition: background-color 400ms;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2%;
    gap: 24px;
    width: 800px;
    height: 600px;
    margin-right: 100px;
    margin-bottom: 100px;
    
            
}

.memory-card {
    height: 180px;
    width: 14vw;
    max-width: 180px;
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0,.3);
    transform: scale(1);
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 20px;
    background-color: white;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
  }

.memory-card:active{
    transform: scale(0.95);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }